.guild-channels .channel-voice-states li .avatar-small {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
    border-radius: 10px;
}


.guild-channels .channel-voice-states li span {
    font-size: 0.75em;
    margin-left:-40px;
    position: relative;
    top: 20px;
    padding-left: 40px;
    margin-bottom: 37px;
    overflow: hidden;
}


.guild-channels .channel-voice-states li .icon-muted
{
    width: 0px;
    overflow: visible;
    padding-left: 45px;
    margin-left: -16px;
    position: relative;
    top: 0px;
}

.guild-channels .channel-voice-states li .icon-deafened
{
    width: 0px;
    overflow: visible;
    position: relative;
    top: 0px;
    padding-left: 20px;
    margin-left: -16px;
}